

  /*tiposcancer*/
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

  /* Barra de Navegación y header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 0 20px;
    background-color: palevioletred;
    color:#fff;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: right;
   
  }
  
  .logo-container img {
    position: absolute;
    top: 0;
    left: 0;
  }

  header img {
    height: 150px;
    vertical-align:middle;
    margin-right: 10px;
}
  nav{
    margin-top: 20px;
    display: flex;
    justify-content: right;
  }
  nav ul{
    display: flex;
    list-style-type: none;
    margin:0;
    padding: 0;
  }

  .nav-link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    font-weight: bold;
    font-size: 18px;
    transition: color 0.2s ease;
  }
    
  nav a:hover {
    background-color: rgb(17, 1, 17);
  }
  
  /* Estilo para main */
  

  
  footer {
    background-color: palevioletred;
    color: #fff;
    padding: 10px;
    text-align: center;
    padding-bottom: 25px;
  }

  footer p{
    margin-top: 50px;
  }
/*tiposcancer*/ 

/* Redes sociales*/
.social-link{
  color: #333;
  font-size: 16px;
  margin-right: 50px;
  
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #c13584;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

div{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}


/* Estilos para botones con estilo de botón primario y secundario */
.button-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.button-secondary {
  background-color: #6c757d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

/* Estilos para botones con estilo de enlace estilizado */
.link-button {
  background-color: transparent;
  color: #007bff;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.button i {
  margin-right: 5px;
}

